* {
	font-family: 'Assistant', sans-serif;
}

body {
	background: #F8F8F8;
}

/* === Search Section === */

.header {
	background-color: #ff4a57;
	color: white;
	min-height: 60vh;
}

.search-section {
	padding-top: 3.5rem;
}

.search-bar:focus {
	outline: none !important;
    box-shadow: 0 0 12px #a5222d;
}

.search { 
	position: relative; 
}
.search input { 
	text-indent: 30px;
	width: 70%;
	padding: 10px 10px 10px 15px;
	margin: 0;
	border: none;
	border-radius: 15px;
}

.search .fa-search { 
  position: absolute;
  color: #808080;
  top: 30%;
  font-size: 15px;
}

/* === Results === */


.book-info {
	padding: 1em;
	box-shadow: 0 0 3px #D3D3D3;
}

.card {
  flex: 1 0 auto; /* additionally, equal width */
}

.row {
  align-content: center;
  display: flex; /* equal height of the children */
  flex-wrap: wrap;
  margin: 0 auto;
}

.row-eq-height > [class*='col-'] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.book-info{
  width: 100%;
}

.book-info img{
	display: block;
	margin: 0 auto;
	min-height: 200px;
    object-fit: cover;
}

.book-info p{
	min-height: 1em;
}

.book-title {
	font-weight: bold;
	color: #606060;
}

.publisher{
  color: #808080;
}

.book-info img{
	display: block;
	margin: 0 auto;
	min-height: 200px;
    object-fit: cover;
}

@media only screen and (max-width: 575px) {
  img {
	width: 100%;
  }
  .search .fa-search {
  	left: 19%;
  }
}

@media only screen and (min-width: 576px) {
	img {
		height: 200px;
		width: 140px;
	}
	.search .fa-search {
		left: 17%;
	}
}

